.header-main {

  .logo-main, .logo--shop {
    position: relative;
    z-index: 300;
  }

  .logo-main, .hotline--info {
    .unitize(padding-top, 15);
  }

  .logo--background-box {
    background: #fff;
    z-index: 200;
    .unitize(height, 50);
    .unitize(width, 115);
    transform: rotate(-25deg) translate(-15px, 23px);
    position: absolute;
  }

  .hotline--name {
    color: @brand-secondary;
  }

  .hotline--number {
    font-weight: bold;
    .unitize(line-height, 12);
  }

  .navigation--entry .fa {
    .unitize(font-size, 16);
    display: block;
    text-align: center;
  }

  .entry--cart .badge {
    background: @brand-primary-light;
    color: white;
  }
}

.navigation-main {
  background: @brand-secondary;
  padding: 5px 0;

  .navigation--line-box {
    position: absolute;
    width: 10%;
    height: 5px;
    background: @brand-primary;
    transform: translateY(-4px);
    z-index: 1150;
  }

  .navigation--list-wrapper {
    text-align: center;
  }

  .navigation--list {
    background: @brand-secondary;
  }
  z-index: 100;
}

.shop--navigation {
   .top-bar--currency, .top-bar--language {
     .unitize(padding-top, 35);
   }
}
